# Dummy variable & OneHotEncoding

## 1 Dataset

In [2]:
import pandas as pd

df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")
print(df)

          town  area   price
0   Vijayawada  2600  650000
1   Vijayawada  3000  550000
2   Vijayawada  3600  600000
3   Vijayawada  3000  650000
4   Vijayawada  4000  725000
5       Guntur  2000  550000
6       Guntur  2600  600000
7       Guntur  3100  650000
8     Gudivada  2600  550000
9     Gudivada  3600  700000
10    Gudivada  3100  600000
11    Gudivada  3600  695000

### Predictiom
- With 3400 sqr ft area in Guntur
- With 2800 sqr ft area in Gudiwada

### 2 Categorical data
- Categorical Variable
  - Norminal   (non-order data)
     - Vijayawada
     - Guntur
     - Gudiwada

     - Male
     - female
       
     - green
     - red
     - blue
       
       
  - Ordinal (order data)
 
     - satisfied
     - neutral
     - dissatisfied
       
       
     - graduate
     - masters
     - phd
       
       
     - high
     - medium
     - low



 
## 3 how to handle text data in town column
- here town column having text data
- how to handle text data in numeric model .?

## 4 model may behaves like below
- We can convert text data into number and can proceed to the next step
  - Vijayawada = 1
  - Guntur = 2
  - Gudiwada = 3
- If we are giving data to the model then model assumes that the order like 1,2,3 are follow the below approach
  - Vijayawada < Guntur < Gudiwada
  - or
  - Vijayawada + Guntur = Gudiwala

## 5 Dummy variable 
- So, in this scenario we need to create dummy variable

In [33]:
# converting string to number 

import pandas as pd
from sklearn.preprocessing import OneHotEncoder

df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")
X=df.iloc[:,0:1].values
print(X)
print()
new_df=df.drop(["area","price"],axis="columns").values
#print(new_df)

encoder=OneHotEncoder(sparse_output=False)
onehot=encoder.fit_transform(new_df)
print(onehot)

[['Vijayawada']
 ['Vijayawada']
 ['Vijayawada']
 ['Vijayawada']
 ['Vijayawada']
 ['Guntur']
 ['Guntur']
 ['Guntur']
 ['Gudivada']
 ['Gudivada']
 ['Gudivada']
 ['Gudivada']]

[[0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]
 [1. 0. 0.]]

In [35]:
# Creating dummy variables by using pandas  

# step 1 importing librires
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# step 2 loading dataset
df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")

dummies=pd.get_dummies(df.town)
print(dummies)

# the result are in boolen

    Gudivada  Guntur  Vijayawada
0      False   False        True
1      False   False        True
2      False   False        True
3      False   False        True
4      False   False        True
5      False    True       False
6      False    True       False
7      False    True       False
8       True   False       False
9       True   False       False
10      True   False       False
11      True   False       False

In [37]:
# Creating dummy variables by using pandas  

# step 1 importing librires
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# step 2 loading dataset
df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")

dummies=pd.get_dummies(df.town,dtype=int)
print(dummies)

    Gudivada  Guntur  Vijayawada
0          0       0           1
1          0       0           1
2          0       0           1
3          0       0           1
4          0       0           1
5          0       1           0
6          0       1           0
7          0       1           0
8          1       0           0
9          1       0           0
10         1       0           0
11         1       0           0

In [43]:
# Creating dummy variable and adding to the dataframe

import pandas as pd

df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")

dummies=pd.get_dummies(df.town,dtype=int)

merged=pd.concat([df,dummies],axis="columns")
print(merged)

          town  area   price  Gudivada  Guntur  Vijayawada
0   Vijayawada  2600  650000         0       0           1
1   Vijayawada  3000  550000         0       0           1
2   Vijayawada  3600  600000         0       0           1
3   Vijayawada  3000  650000         0       0           1
4   Vijayawada  4000  725000         0       0           1
5       Guntur  2000  550000         0       1           0
6       Guntur  2600  600000         0       1           0
7       Guntur  3100  650000         0       1           0
8     Gudivada  2600  550000         1       0           0
9     Gudivada  3600  700000         1       0           0
10    Gudivada  3100  600000         1       0           0
11    Gudivada  3600  695000         1       0           0

In [45]:
import pandas as pd

df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")

dummies=pd.get_dummies(df.town,dtype=int)
merge=pd.concat([df,dummies],axis="columns")

print(merge)

          town  area   price  Gudivada  Guntur  Vijayawada
0   Vijayawada  2600  650000         0       0           1
1   Vijayawada  3000  550000         0       0           1
2   Vijayawada  3600  600000         0       0           1
3   Vijayawada  3000  650000         0       0           1
4   Vijayawada  4000  725000         0       0           1
5       Guntur  2000  550000         0       1           0
6       Guntur  2600  600000         0       1           0
7       Guntur  3100  650000         0       1           0
8     Gudivada  2600  550000         1       0           0
9     Gudivada  3600  700000         1       0           0
10    Gudivada  3100  600000         1       0           0
11    Gudivada  3600  695000         1       0           0

In [49]:
# there is no use of the town soo we are drop it

import pandas as pd 

df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")

dummies=pd.get_dummies(df.town,dtype=int)
merge=pd.concat([df,dummies],axis="columns")

final=merge.drop("town",axis="columns")
print(final)

    area   price  Gudivada  Guntur  Vijayawada
0   2600  650000         0       0           1
1   3000  550000         0       0           1
2   3600  600000         0       0           1
3   3000  650000         0       0           1
4   4000  725000         0       0           1
5   2000  550000         0       1           0
6   2600  600000         0       1           0
7   3100  650000         0       1           0
8   2600  550000         1       0           0
9   3600  700000         1       0           0
10  3100  600000         1       0           0
11  3600  695000         1       0           0

In [52]:
# step 3 Data preperations

import pandas as pd 

df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")

dummies=pd.get_dummies(df.town,dtype=int)
merge=pd.concat([df,dummies],axis="columns")

final=merge.drop("town",axis="columns")
print(final)

X=final.drop("price",axis="columns").values
y=final.price.values

print()
print(X)
print()
print(y)

    area   price  Gudivada  Guntur  Vijayawada
0   2600  650000         0       0           1
1   3000  550000         0       0           1
2   3600  600000         0       0           1
3   3000  650000         0       0           1
4   4000  725000         0       0           1
5   2000  550000         0       1           0
6   2600  600000         0       1           0
7   3100  650000         0       1           0
8   2600  550000         1       0           0
9   3600  700000         1       0           0
10  3100  600000         1       0           0
11  3600  695000         1       0           0

[[2600    0    0    1]
 [3000    0    0    1]
 [3600    0    0    1]
 [3000    0    0    1]
 [4000    0    0    1]
 [2000    0    1    0]
 [2600    0    1    0]
 [3100    0    1    0]
 [2600    1    0    0]
 [3600    1    0    0]
 [3100    1    0    0]
 [3600    1    0    0]]

[650000 550000 600000 650000 725000 550000 600000 650000 550000 700000
 600000 695000]

In [59]:
# step 5 model creation


import pandas as pd 
from sklearn.linear_model import LinearRegression

df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")

dummies=pd.get_dummies(df.town,dtype=int)
merge=pd.concat([df,dummies],axis="columns")
print(merge)
print()

final=merge.drop("town",axis="columns")
print(final)

X=final.drop("price",axis="columns").values
print()
print(X)
y=final.price.values

model=LinearRegression()

# step 6 model training

model.fit(X,y)

# step 7 prediction 
result=model.predict([[2400,1,0,0]])
print()
print(result)

          town  area   price  Gudivada  Guntur  Vijayawada
0   Vijayawada  2600  650000         0       0           1
1   Vijayawada  3000  550000         0       0           1
2   Vijayawada  3600  600000         0       0           1
3   Vijayawada  3000  650000         0       0           1
4   Vijayawada  4000  725000         0       0           1
5       Guntur  2000  550000         0       1           0
6       Guntur  2600  600000         0       1           0
7       Guntur  3100  650000         0       1           0
8     Gudivada  2600  550000         1       0           0
9     Gudivada  3600  700000         1       0           0
10    Gudivada  3100  600000         1       0           0
11    Gudivada  3600  695000         1       0           0

    area   price  Gudivada  Guntur  Vijayawada
0   2600  650000         0       0           1
1   3000  550000         0       0           1
2   3600  600000         0       0           1
3   3000  650000         0       0           1
4   4000  725000         0       0           1
5   2000  550000         0       1           0
6   2600  600000         0       1           0
7   3100  650000         0       1           0
8   2600  550000         1       0           0
9   3600  700000         1       0           0
10  3100  600000         1       0           0
11  3600  695000         1       0           0

[[2600    0    0    1]
 [3000    0    0    1]
 [3600    0    0    1]
 [3000    0    0    1]
 [4000    0    0    1]
 [2000    0    1    0]
 [2600    0    1    0]
 [3100    0    1    0]
 [2600    1    0    0]
 [3600    1    0    0]
 [3100    1    0    0]
 [3600    1    0    0]]

[563626.37725144]

In [61]:
import pandas as pd 
from sklearn.linear_model import LinearRegression

df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")

dummies=pd.get_dummies(df.town,dtype=int)
merge=pd.concat([df,dummies],axis="columns")
#print(merge)
print()

final=merge.drop("town",axis="columns")
#print(final)

X=final.drop("price",axis="columns").values
print()
#print(X)
y=final.price.values

model=LinearRegression()

# step 6 model training

model.fit(X,y)

# step 7 prediction 

print(model.predict(X))

[578661.67447384 613873.12792769 666690.30810846 613873.12792769
 701901.76156231 550117.10760705 602934.28778782 646948.60460513
 581232.10397836 669260.73761298 625246.42079567 669260.73761298]

In [77]:
# Checking the score   the training scorce of 70%

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

df=pd.read_csv("/Users/apple/Downloads/homeprices.csv")

dummies=pd.get_dummies(df.town, dtype=int)
#print(dummies)
merge=pd.concat([df,dummies],axis="columns")
print()
#print(merge)

final=merge.drop("town",axis="columns")
print()
#print(final)

X=final.drop("price",axis="columns").values
print()
#print(X)
y=final.price.values
print()
#print(y)

model=LinearRegression()

model.fit(X,y)

print()
print(model.score(X,y))

0.5453575371990164